﻿<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">The Web-App contains basic operations of an Employee Management System.</p>
    <p><a href="https://www.github.com/megamind25" target="_blank" class="btn btn-primary btn-lg">Explore more projects&raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Create a new Employee</h2>
        <p>Create a new employee and save the details to the database.</p>
        <p><a class="btn btn-default" href="http://localhost:53594/action/create">Create an employee&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Display Employees</h2>
        <p>Displays the details of all the employees currently in the system.</p>
        <p><a class="btn btn-default" href="http://localhost:53594/action/display">Display details&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit & Delete</h2>
        <p>Edit and Delete allow you to manipulate the existing employee details.</p>
        <p><a class="btn btn-default" href="http://localhost:53594/action/display">Edit & Delete &raquo;</a></p>
    </div>
</div>
