﻿@model IEnumerable<APIDemo.Models.Empl>

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.empID }) |
            @Html.ActionLink("Details", "Details", new { id=item.empID }) |
            @Html.ActionLink("Delete", "DeleteView", new { id=item.empID })
        </td>
    </tr>
}

</table>
